body {
  font-family: Arial, sans-serif;
  background-color: #D3D5DC;
  color: #2C3555;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
#logo {
  width: 250px; 
  height: 80px; 
  display: block;
  margin-right: 20px;
}

header {
  background-color: #566DB3;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1, h2 {
  margin: 0;
  font-size: 2rem;
}

main {
  padding: 0 20px;
  max-width: 1200px;
  margin: 20px auto;

}

section {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input, textarea, button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #7D8293;
  border-radius: 5px;
}

button {
  background-color: #40D4C0;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3A799A;
}

/* Estilos del grid para las tarjetas */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #7D8293;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .field {
  margin-bottom: 10px;
}

.card .field span {
  display: block;
}

.card .field .label {
  font-weight: bold;
  color: #566DB3;
  margin-bottom: 5px;
}

.card .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* Estilos de la ventana modal */
.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el overlay */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-overlay {
  display: none; /* Oculta el overlay por defecto */
}


@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }

  input, textarea, button {
      font-size: 0.9rem;
      padding: 8px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.2rem;
  }

  .grid-container {
      grid-template-columns: 1fr;
  }
}

  